/*
 * wrapper
 */
.imessenge {
  width: 100%;
  max-width: 320px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: table;
  margin: auto;
}


/* characters's names hidden */
.imessenge dt {
  display: none;
}


/*
 * All texts
 */
.imessenge .out dd,
.imessenge .in dd {
  margin: 0;
  margin-bottom: 3px;
  border-radius: 20px;
  padding: 8px 15px;
  max-width: 70%;
  clear: both;
  position: relative;
}
/* the last text in a series has more space after it, and a tail */
.imessenge .out dd:last-child,
.imessenge .in dd:last-child {
  margin-bottom: 10px;
}
.imessenge .out dd:last-child:after,
.imessenge .in dd:last-child:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 20px;
}


/*
 * Outgoing texts
 */
.imessenge .out dd {
  float: right;
  background: #007aff;
  color: #FFF;
}
.imessenge .out dd:last-child:after {
  right: -10px;
  border-left: 10px solid #007aff;
  border-bottom-left-radius: 20px 10px;
}

/* Green outgoing texts */
.imessenge .out.gr dd {
  background: #34c759;
}
.imessenge .out.gr dd:last-child:after {
  border-color: #34c759;
}

/*
 * Incoming texts
 */
.imessenge .in dd {
  float: left;
  background: #e5e5ea;
  color: #000;
}
.imessenge .in dd:last-child:after {
  left: -10px;
  border-right: 10px solid #e5e5ea;
  border-bottom-right-radius: 20px 10px;
}


/*
 * No-bubble texts
 */
.imessenge .pic,
.imessenge .emoji {
  background: none !important;
  padding: 0;
}
/* no tail */
.imessenge dd.emoji:after,
.imessenge dd.pic:after {
  content: none !important;
}

.imessenge .pic img,
.imessenge .pic iframe {
  border-radius: 20px;
  width: 100%;
  display: block; /* without "block" there's extra space after */
}

/* 3x emojis */
.imessenge .emoji {
  font-size: 3em;
}


/*
 * Links
 */
.imessenge a {
  word-break: break-all; /* linebreak when space runs out */
  color: inherit; /* color match */
}


/*
 * Time receipts
 */
.imessenge .time,
.imessenge.grouptext .in dt,
.imessenge .read {
  clear: both;
  font-family: inherit;
  font-weight: normal;
  color: #8e8e93;
  font-size: 0.75em;
}

/* time label */
.imessenge .time {
  text-align: center;
  padding: 10px 0;
}

/* Show the names with incoming texts for grouptext mode */
.imessenge.grouptext .in dt {
  padding-left: 10px;
  display: table !important;
}

/* read receipt */
.imessenge .read {
  float: right;
  display: table !important;
  padding: 0;
  margin: 0;
  margin-top: -8px;
}


/*
 * Contact header
 */
.imessenge .contact {
  position: relative;
  background: #f2f2f7;
  border: 1px solid rgba(60,60,67, 0.29);
  height: 60px;
  text-align: center;
  line-height: 58px;
  font-size: 20px;
  font-family: inherit;
  font-weight: bold;
  white-space: nowrap;
}
/* back arrow */
.imessenge .contact:before {
  content: "";
  position: absolute;
  top: 22px;
  left: 15px;
  width: 14px;
  height: 14px;
  border-left: 2.5px solid #007aff;
  border-bottom: 2.5px solid #007aff;
  transform: rotate(45deg);
}
