$red: #e92754;
$blue: #3cb2e2;
$purple: #9b55a0;
$teal: #03a588;
$border: #d9d9d9;

.snapchat {
	width: 100%;
	max-width: 320px;
	display: grid;
	margin: auto;
	font-family: "Avenir Next", Avenir, sans-serif;
	border: 1px solid $border;

	//headers tags don't get a different font
	* {
		font-family: inherit;
	}

	//*************************************************
	//	basics
	//*************************************************
	 //matching font style of both names and dates
	.day,
	.in[name]::before, .out[name]::before,
	.banner {
		text-transform: uppercase;
		font-weight: normal;
		letter-spacing: 1px;
		font-size: 0.75em;
	}

	.in[name]::before,
	.out[name]::before {
		content: attr(name);
		position: absolute;
		top: -1rem;
		left: -3px;
	}

	.day,
	.banner {
		color: $border;
		margin: auto;
		margin-top: 0.5em;
	}
	
	.in,
	.out {
		position: relative;
		margin: 0.25rem 0.75rem;
		margin-top: 1.5rem;//space for name
		border-left: solid 2px;
		padding-left: 0.75rem;

		dd {
			position: relative;
			margin: 0;
			padding: 0.25rem 0;

			&.emoji {
				font-size: 3em;
			}
		}
	}

	//Outgoing/red
	.out {
		border-color: $red;
		&[name]::before {
			color: $red;
		}
	}

	//Incoming/blue
	.in {
		border-color: $blue;
		&[name]::before {
			color: $blue;
		}
	}

	//*************************************************
	//	Rich link
	//*************************************************
	dd a {
		color: inherit;
		text-decoration: none;
		display: table;
		box-sizing: border-box;
		width: 100%;
		border-radius: 4px;
		border: 1px solid $border;
		overflow: hidden;

		img {
			display: table-cell;
			width: 4em;
			height: 4em;
			object-fit: cover;
		}

		.caption {
			display: table-cell;
			vertical-align: middle;
			width: 75%;
			padding: 0.25em;
			color: black;
			font-size: small;
		}
	}
	//*************************************************
	//	icons
	//	https://support.snapchat.com/en-US/a/friends-screen-icon-guide
	//*************************************************
	.icon {
		display: table;
		height: 2em;
		width: 100%;
		box-sizing: border-box;
		border-radius: 4px;
		border: 0.5px solid $border;
		background: white;

		&::before {
			display: table-cell;
			content: "";
			width: 3rem;
			background-repeat: no-repeat;
			background-size: auto 1rem;
			background-position: center;
		}

		&::after {
			display: table-cell;
			font-weight: bold;
			padding: 0.5rem;
			padding-left: 0;
		}

		&.opened::after {content: "Opened";}

		&.unopened::after {content: "Delivered";}
	}

	//incoming snap icons (aka the square ones)
	.in .icon {
		//solid
		&.unopened {
			&::after {content: "Press and hold to view";}
			&::before {background-image: url("https://support-tools.storage.googleapis.com/articles/support14.4.png");}
			&.purple::before {background-image: url("https://support-tools.storage.googleapis.com/articles/support15.1.png");}
			&.blue::before {background-image: url("https://support-tools.storage.googleapis.com/articles/support16.2.png");}
		}
		//outline
		&.opened {
			&::before {background-image: url("https://support-tools.storage.googleapis.com/articles/support14.5.png");}
			&.purple::before {background-image: url("https://support-tools.storage.googleapis.com/articles/support15.2.png");}
			&.blue::before {background-image: url("https://support-tools.storage.googleapis.com/articles/support16.1.png");}
		}
		
		&.screenshot {
			&::after {content: "Screenshot!";}
			&::before {background-image: url("https://support-tools.storage.googleapis.com/articles/support14.7.png");}
			&.purple::before {background-image: url("https://support-tools.storage.googleapis.com/articles/support15.3.png");}
			&.blue::before {background-image: url("https://support-tools.storage.googleapis.com/articles/support15.9.png");}
		}

		&.replay {
			&::after {content: "Replay!";}
			&::before {background-image: url("https://support-tools.storage.googleapis.com/articles/support14.8.png");}
			&.purple::before {background-image: url("https://support-tools.storage.googleapis.com/articles/support15.4.png");}
		}
	}

	//outgoing snap icons (aka the arrow shaped ones)
	.out .icon {
		//solid
		&.unopened {
			&::before {background-image: url("https://support-tools.storage.googleapis.com/articles/support14.3.png");}
			&.purple::before {background-image: url("https://support-tools.storage.googleapis.com/articles/support15.0.png");}
			&.blue::before {background-image: url("https://support-tools.storage.googleapis.com/articles/support15.6.png");}
		}
		//outline
		&.opened {
			&::before {background-image: url("https://support-tools.storage.googleapis.com/articles/support14.6.png");}
			&.purple::before {background-image: url("https://support-tools.storage.googleapis.com/articles/support14.9.png");}
			&.blue::before {background-image: url("https://support-tools.storage.googleapis.com/articles/support15.5.png");}
		}
	}
	
	.banner.screenshot::after {
		content: "You took a screenshot!";
	}
	.banner.replay::after {
		content: "You replayed a snap!";
	}
	
	//pending snaps (aka the gray ones)
	.icon.gray::after,
	.icon.grey::after {
			content: "Pending";
	}
	.out .icon.gray::before,
	.out .icon.grey::before {
		background-image: url("https://support-tools.storage.googleapis.com/PendingSnap_icon-64904433.jpg") !important;
	}
	.in .icon.gray::before,
	.in .icon.grey::before {
		background-image: url("https://support-tools.storage.googleapis.com/Greychat_icon-712339909.png") !important;
	}

	//*************************************************
	//	contact header
	//*************************************************
	.contact {
		position: relative;
		background: linear-gradient(to right, #2ec9ff, #00a0f0), #3cb2e2;
		margin: 0;
		color: white;
		font-size: 1.2em;
		line-height: 2.5em;
		font-weight: normal;

		//text overflow
		text-align: center;
		padding: 0 2.5em;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		&::before,
		&::after {
			position: absolute;
			font-family: FontAwesome;
		}

		//menu (aka 3 lines)
		&::before {
			content: "\f0c9"; //https://fontawesome.com/icons/bars?style=solid
			left: 0.75em;
		}

		//arrow
		&::after {
			content: "\f054"; //https://fontawesome.com/icons/chevron-right?style=solid
			right: 0.75em;
		}
	}
}
