$outgoing: #dcf8c6;
$incoming: #ffffff;
$tealGreen1: #075e54;
$tealGreen2: #128c7e;
$chatBackground: #ece5dd;
$checkmarkBlue: #34b7f1;
$lightGreen: #25d366;

$gray: #999;
$tailSize: 1rem;
$shadow: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));

//*************************************************
//	wrapper
//*************************************************
.whatsapp {
	width: 100%;
	max-width: 320px;
	display: grid;
	margin: auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: url("https://raw.githubusercontent.com/motaylormo/CSS-Text-Message-Simulator/master/WhatsApp/images/background.png");
	background-attachment: fixed;
	background-size: 320px auto;

	//headers tags don't get a different font
	* {
		font-family: inherit;
	}

	//*************************************************
	//	basic text shared stuff
	//*************************************************
	.in dd,
	.out dd {
		clear: both;
		position: relative;
		max-width: 65%;
		border-radius: 5px;
		padding: 2px 5px;
		margin: 1px $tailSize;
		z-index: 1;
		filter: $shadow;

		&:last-child {
			margin-bottom: 1rem;
		}

		&:last-of-type::before {
			content: "";
			position: absolute;
			width: $tailSize * 1.5;
			height: $tailSize;
			bottom: $tailSize * 0.25;
			border-top: ($tailSize / 2) solid;
			border-radius: 100%;
			clip: rect(0px, $tailSize, $tailSize, 0px);
			z-index: -1;
		}
	}

	//*************************************************
	//	incoming and outgoing texts
	//*************************************************
	.out dd {
		float: right;
		background: $outgoing;
		&:last-of-type::before {
			border-color: $outgoing;
			transform: rotate(240deg);
			right: -$tailSize;
		}
	}

	.in dd {
		float: left;
		background: $incoming;
		&:last-of-type::before {
			border-color: $incoming;
			transform: scaleX(-1) rotate(240deg);
			left: -$tailSize;
		}
	}

	//*************************************************
	//	time
	//*************************************************
	.day {
		background: #d4eaf4;
		filter: $shadow;
		border-radius: 5px;
		padding: 0.5em;
		margin: 1em auto;
		text-align: center;
		font-size: 0.75rem;
		color: $gray;
		text-transform: uppercase;
		font-weight: normal;
	}

	//timestamps
	dd[time]::after {
		font-size: 0.75rem;
		color: $gray;
		content: attr(time);
		white-space: nowrap;
		text-align: right;
		float: right;
		padding-left: 1.5rem;
		padding-top: 0.25rem;
	}
	//checkmarks
	.out dd[time] {
		&::after {
			content: attr(time);

			background-repeat: no-repeat;
			background-position: right;
			background-size: auto 1.2ch;
			padding-right: 2ch;
			background-image: url("https://raw.githubusercontent.com/motaylormo/CSS-Text-Message-Simulator/master/WhatsApp/images/Checkmark2.png");
		}
		&.unread::after,
		&.notreceived::after {
			filter: grayscale(100%);
		}
		&.notreceived::after {
			background-image: url("https://raw.githubusercontent.com/motaylormo/CSS-Text-Message-Simulator/master/WhatsApp/images/Checkmark1.png");
		}
	}

	//*************************************************
	//	manage different kinds of text content
	//*************************************************
	.in dd,
	.out dd {
		&.pic {
			padding: 3px;

			img {
				border-radius: 3px;
				width: 100%;
				display: block;
			}
			//Timestamp white and in image corner
			&.solo::after {
				color: white;
				position: absolute;
				bottom: 2px;
				right: 5px;
			}
		}

		//big emojis
		&.emoji1 {font-size: 2.5em;}
		&.emoji2 {font-size: 2em;}
		&.emoji3 {font-size: 1.5em;}

		&.emoji1::after,
		&.emoji2::after,
		&.emoji3::after {
			display: block;
			padding: 0; //no "before" padding needed
			float: none;
		}

		//rich link
		a {
			&::after {
				color: $checkmarkBlue;
				text-decoration: underline;
				word-break: break-all;
				content: attr(href);
				display: table-caption;
				caption-side: bottom;
			}

			border-radius: 3px;
			display: table;
			background: rgba(0, 0, 0, 0.05);
			border: 1px solid rgba(0, 0, 0, 0.1);
			text-decoration: none; //strip other link stuff

			img {
				border-radius: 3px;
				display: table-cell;
				width: 100%;
				height: 3.5rem;
				object-fit: cover;
			}

			p {
				display: table-cell;
				vertical-align: middle;
				width: 75%;
				padding-left: 5px;
				color: black;
				font-size: small;
			}
		}
	}

	//*************************************************
	//	header
	//*************************************************
	.contact {
		position: relative;
		background: $tealGreen1;
		margin: 0;
		line-height: 3em;
		font-size: 1rem;
		color: white;
		font-weight: bold;

		//text overflow
		text-align: left;
		padding-left: 4em;
		padding-right: 7.5em;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		&::before,
		&::after {
			position: absolute;
			font-family: "Material Icons";
			font-weight: normal;
			font-size: 1.25em;
		}

		//back arrow + person icon
		&::before {
			left: 5px;
			width: 50px;
			letter-spacing: 10px;
			content: "\e5c4" //arrow_back
				"\e853"; //account_circle
		}

		/* video camera + phone + ellipsis */
		&::after {
			right: 0;
			letter-spacing: 0.75em;
			content: "\e04b" //videocam
				"\e0cd" //phone
				"\e5d4"; //more_vert
		}
	}

	//*************************************************
	//	footer
	//*************************************************
	.footer {
		display: table;
		position: relative;
		clear: both;
		width: 100%;
		padding: 3px;
		filter: $shadow;
		box-sizing: border-box;

		//mic circle
		&::after {
			position: absolute;
			bottom: 3px;
			right: 3px;
			width: 2.3em;
			height: 2.3em;
			border-radius: 100%;
			background: $tealGreen2;
			font-family: "Material Icons";
			content: "\e029"; //mic
			color: white;
			text-align: center;
			line-height: 2.3em;
		}

		.typebar {
			position: relative;
			background: white;
			margin: 0;
			margin-right: 2.5em;
			padding: 0.6em 2em;
			border-radius: 2em;

			&::before {
				color: $gray;
				position: absolute;
				left: 0.5em;
				height: 1.8em;
				font-family: "Material Icons";
				letter-spacing: 14em;
				content: "\e24e" //insert_emoticon
					"\e412"; //photo_camera
			}

			//blinking blue caret
			&::after {
				content: "";
				border-right: 2px solid $tealGreen2;
				animation: 1.5s caretblink infinite;
			}
			@keyframes caretblink {
				60% {border-color: $tealGreen2;}
				90% {border-color: transparent;}
			}

			//if empty
			&:empty::after {
				color: $gray;
				content: "Type a message";
				//caret comes before, not after, the filler text
				border: none;
				border-left: 2px solid $tealGreen2;
			}
		}
	}
}
